@import "./partials/_variables.scss";
@import "./partials/_header.scss";
@import "./partials/_cuerpo.scss";
@import "./partials/_footer.scss";
@import "./partials/_mediasQuerys.scss";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}