.cuerpo{
    background-image: url(../pictures/Curva-Line.svg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

@mixin flex {
    display: flex;
    flex-direction: row;
    padding: 1.5rem 1.5rem;
}

.inicio1{
   @include flex;

    &__izq{
        font-family: 'Poppins', sans-serif;
        padding-left: 1rem;
        width: 50%;
        font-size: 18px;
        line-height: 1.5;
    }
    
    &__der{
        padding-left: 2rem;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.inicio1__integrantes{
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 2rem;
}

#informacion h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

#informacion ol li {   
    text-align: left;
    justify-content: left;
    list-style: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-style: italic;
}

#informacion span {
    font-weight: bold;
}

.cuerpoNoticia{
    @extend .cuerpo;
}

.inicioNoticias{
    @include flex;

    &__Informacion{
        font-family: 'Poppins', sans-serif;
        padding-left: 1rem;
        width: 50%;
        font-size: 18px;
        line-height: 1.5;
    }

    &__Show{
        padding-left: 2rem;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.fotoShow{
    @extend .inicio1__integrantes;
}


