@media screen and (max-width: 599px){
    .nav{
        display: none;
        background-color: $colorFooter;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000000;
        width: 50%;
        height: 100vh;
        gap: 1rem;        

        .header__ul{
            flex-direction: column;
            gap: 1rem;
        }
        
        .header__icono{
            display: block;            
        }        

        .itemOculto{
            display: block;
        }

        #cruz a{
            display: block;
        }
    }    
        
    .nav:target{
        display: block;
    }

    .main{
        min-height: 100vh;
        }

    .inicio1{
        flex-direction: column;

        &__izq{
            width: 100%;
        }
    
        &__der{
            width: 100%;
            padding-top: 1rem;      
        }
    
        &__integrantes{
            width: 250px;
            height: 300px;        
        }
    }
}