@media screen and (max-width: 599px){
    .nav{
        display: none;
        background-color: $colorHeader;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000000;
        width: 50%;
        height: 100vh;
        gap: 1rem;
    }    
        
    .nav:target{
        display: block;
    }            

    .header__ul{
        flex-direction: column;
        gap: 1rem;
    }
    
    .header__icono{
        display: block;            
    }        

    .itemOculto{
        display: block;
    }

    .main{
        min-height: 100vh;
        }

    .inicio1{
        flex-direction: column;

        &__izq{
            width: 100%;
        }
    
        &__der{
            width: 100%;
            padding-top: 1rem;      
        }
    
        &__integrantes{
            width: 250px;
            height: 300px;        
        }
    }

    .inicioNoticias{
        flex-direction: column;

        &__Informacion{
            width: 100%;
        }

        &__Show{
            width: 250px;
            height: 300px;
            margin-bottom: 2rem;
        }
    }

    .discografia{
        flex-direction: column;

        &__informacion{
            width: 100%;
        }

        &__video{
            margin-bottom: 2rem;
            padding-right: 1rem;
            padding-left: 1rem;
            margin: 0 auto;
            width: 250px;
            height: 300px;
        }
    }
    
    .fotos{
        flex-direction: column;

        &__titulo{
            margin: 0 auto;
            width: 100%;
        }

        &__galeria img{
            width: 300px;
            height: 300px;
            padding-left: 1px;
            padding-right: 8px;
        }
    }
}